@using System.Security.Principal
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits LayoutComponentBase
@inject ProtectedLocalStorage Store
@inject NavigationManager Nav

@code {
    [CascadingParameter]
    protected Task<AuthenticationState>? AuthenticationStateTask { get; private set; }
    protected IIdentity? UserIdentity { get; private set; }
    protected bool IsAuthenticated => UserIdentity?.IsAuthenticated == true;
    
    protected override async Task OnInitializedAsync()
    {
        UserIdentity = (await AuthenticationStateTask!).User.Identity;
    }

    private async Task LogoutClick()
    {
        await Store.DeleteAsync("username");
        Nav.NavigateTo("/login", true);
    }

}

<div class="page">
    @if (IsAuthenticated && !Nav.Uri.EndsWith("/login"))
    {
        <div class="sidebar">
            <NavMenu/>
        </div>

        <main>
            <div class="top-row px-4 d-flex justify-content-between">
                <div>
                    Logged in as: @(UserIdentity?.Name ?? "Unknown"), Auth: @(IsAuthenticated)
                </div>
                <div class="d-flex justify-content-evenly align-items-center">
                    <a href="#" @onclick="LogoutClick">Logout</a>
                    <!-- Icons to related sources -->
                    @foreach ((string Name, string Icon, string Url) item in new[]
                    {
                        ("GitHub", "github", "https://github.com/SubnauticaNitrox/DiscordBot")
                    })
                    {
                        <a class="nav-link p-2 mr-2 link-bg ripple text-center" style="width: 42px" href="@item.Url" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" data-offset="0, 5, 0, 0" data-original-title="@item.Name">
                            <img style="filter: invert(1)" src="img/@(item.Icon).svg" alt="@item.Name" width="24px">
                        </a>
                    }
                </div>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    }
    else
    {
        <main>
            <article class="container d-flex content justify-content-center align-items-center">
                @Body
            </article>
        </main>
    }
</div>